body {
  background-color: #002244;
}
.calculadora {
  width: 320px;
  margin: 100px auto;
}
#resultado {
  background-color: #138808;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #eee;
  color: white;
}
#resultado::placeholder {
  color: white;
}
.boton{
  background-color: #FEBE10;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid #eee;
  float: left;
  cursor: pointer;
}
.boton1 {
  width: 160px;
  background-color: #008B8B;
}